*body{
    background-color: white;
}
#wallpaper{
    object-fit: contain;
    width: 100%;
    height: auto;
    /* border-radius: 18px; */
}

.heading{
    /* color: #ED3500; */
    /* color: #0D5EA6; */
    font-weight: bold;
    font-family: sans-serif;
}

/* Add WA floating button CSS */
.floating {
position: fixed;
width: 60px;
height: 60px;
bottom: 40px;
right: 40px;
background-color: #25d366;
color: #fff;
border-radius: 50px;
text-align: center;
font-size: 30px;
box-shadow: 2px 2px 3px #999;
z-index: 100;
}

.fab-icon {
margin-top: 16px;
}

.card-text{
    text-align: justify;
}

.pp{
    width: 300px;
    height: auto;
    object-fit: contain;
    filter: brightness(0.7);
    column-gap: 0;
}
.tag{
    font-size: 0.7rem;
}

@media (width < 1280px) {
    #footer{
        display: column !important;
        justify-content: start !important;
        gap: 1 !important;
    }
    #logo-footer{
        width: 180px !important;
    }
    #ytVideo{
        width: 700px;
        height: 350px;
    }
}

@media (width < 950px) {
    #ytVideo{
        width: 600px;
    }
}
@media (width < 480px) {
    #ytVideo{
        height: 200px;
    }
    .pp{
        width: 180px;
    }
}

@media (width < 420px) {
    .pp{
        width: 120px;
    }
}